@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen and (min-width: 1500px) {
    .container {
      max-width: 1185px !important;
    }
  }

  :root { 
    --main-font-family: 'Montserrat', sans-serif;
  }

  /* SCROLL */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-track{
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #23A6F0; 
    /* background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%,rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent) */
  }
  
  .scroll-tabs {
    overflow:auto;
    height: calc(100vh - 165px);
  }
  
  .card-height {
    height: calc(100vh - 112px);
  }
  
  /* HREF */
  a:-webkit-any-link {
    text-decoration: none;
  }
  
  /* POINTER */
  .cursor-pointer {
    cursor: pointer;
  }
  
  /* LINE */
  .line-text-first {
    line-height: 1.5 !important;
  }
  .line-text-second {
    line-height: 2 !important;
  }
  
  /* BACKGROUND */
  .background-default {
    /* background-image: linear-gradient(to right, #23A6F0, #420918); */
    /* background: url('../../assets/background-image.png'); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position-y: top;
  }
  
  /* COLOR */
  .color-default {
    color: #0061FF !important;
  }
  
  /* TEXT */
  .text-first {
    color: #252B42 !important;
  }
  .text-second {
    color: #737373 !important;
  }
  .text-third {
    color: #A8A8A8 !important;
  }
  .text-color {
    color: #252B42 !important;
  }
  /* BOX SHADOW */
  .box-shadow {
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2) !important;
  }
  
  /* HOVER */
  .hover-card:hover {
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s;
  }
  
  /* BORDER */
  .border-radius {
    border-radius: 10px !important;
  }
  
  /* BADGES */
  .badge-overlay {
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
    -webkit-transition: width 1s ease, height 1s ease;
    -moz-transition: width 1s ease, height 1s ease;
    -o-transition: width 1s ease, height 1s ease;
    transition: width 0.4s ease, height 0.4s ease
  }
  .badge {
    margin: 0;
    padding: 0;
    color: white;
    padding: 5px 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    background: #ed1b24;
  }
  
  .badge::before, .badge::after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: inherit;
    min-width: 55px
  }
  
  .badge::before {
    right: 100%
  }
  
  .badge::after {
    left: 100%
  }
  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: translateX(-30%) translateY(0%) rotate(-45deg);
    -webkit-transform: translateX(-30%) translateY(0%) rotate(-45deg);
    transform: translateX(-30%) translateY(0%) rotate(-45deg);
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
  .badge.red {
    background: red;
  }
  
  .list-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* BREADCRUMBS */
  /* .v-breadcrumbs__item {
    color: #23A6F0 !important;
  } */
  
  /* TEXT EDITOR */
  .ql-toolbar.ql-snow {
    border-radius: 4px 4px 0px 0px;
  }
  .ql-container.ql-snow {
    border-radius: 0px 0px 4px 4px;
  }
  .quill-editor .ql-editor {
      min-height: 100px;
  }
  
  /* TABLE */
  .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
    border-bottom: thin solid rgba(199, 106, 106, 0.1);
  }

  
  /* BORDER RADIUS DATATABLE */
  /* .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td:first-child {
    border-radius: 10px 0px 0px 10px !important;
  }
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td:last-child {
    border-radius: 0px 10px 10px 0px !important;
  } */


  /* BOX SHADOW DATATABLE */
  /* .v-data-table > .v-data-table__wrapper > table {
    border-spacing: 0 10px !important;
    padding: 10px 10px 10px 10px !important;
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr {
    box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px 10px 10px 10px !important;
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    height: 70px !important;
  } */
  
  /* DIVIDER */
  .theme--light.v-divider {
    border-color: rgba(199, 106, 106, 0.1);
  }
  
  /* SLIDER */
  .v-slide-group__next, .v-slide-group__prev {
    min-width: 0px;
  }
  .pagination-center .v-slide-group__content {
    justify-content: center !important;
  }
  /* REVEAL */
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .8;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  
  /* SPIN BUTTON INPUT NUMBER */
  input[type='number'] {
    -moz-appearance:textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  /* LABEL */
  .v-label {
    color: #ababab !important;
    font-size: 16px !important;
  }
  ::placeholder {
    font-size: 16px !important;
    color: #D6D6D6 !important;
  }

  .required .v-label--active::after {
    content: ' * ';
    color: red;
  }
  
  .apexcharts-toolbar {
    z-index: 3 !important;
  }
  
  /* VUE2 DATEPICKER */
  .mx-datepicker-header {
    background-color: #23A6F0 !important;
  }
  .title-date{
    color: #fff
  }
  .mx-datepicker-content{
    margin-left: 140px !important;
  }
  .mx-datepicker-range{
    width: 100% !important;
  }
  .mx-datepicker{
    width: 100% !important;
  }
  .mx-datepicker-sidebar{
    width: 140px !important;
  }
  .mx-input{
    height:40px !important;
    /* padding: 20px 30px !important; */
    padding: 0px 30px 0px 10px !important;
    /* padding-left: 10px !important; */
    font-size: 16px !important;
  }
  .mx-calendar-content .cell.active{
    background-color: #23A6F0 !important;
  }
  .mx-icon-calendar {
    visibility: hidden !important;
    right: 20px !important;
    font-size: 20px !important;
  }
  